
.all{
    display:  grid;
    grid-template-rows: auto auto auto;
    width: 800px;
    background-color: antiquewhite;

}
/* ---------HEADER------------*/
.header{
    margin: 65px 33px 0 33px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.profile-picture img{
    height: 364px;
    width: 266px;
}
.about {
    height: 364px;
    width: 446px;
    /* border: 1px solid; */
    
  }
  #information{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 35px auto 55px auto;
  }
  
  #information td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
  }
  
  
  /* -------HEADER-END----------*/
  
  /* ------------MAIN-----------*/
  .main{
    margin: 23px 33px 0 33px;
    
  }

  #process{
      border-collapse: collapse;
      width: 100%;
  }
  #process td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  /*---------FOOTER----------*/
  .footer{
    margin: 23px 33px 33px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer .os-chart, .design-chart{
    margin-left: 15px;
}